<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485804141750-r6k2uorkpmnub03p8ft7gbitb6cbhjel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485804141750-r6k2uorkpmnub03p8ft7gbitb6cbhjel</string>
	<key>API_KEY</key>
	<string>AIzaSyDIJLffVKimEkP64lnsAKTWQ1IQ-p_i9iw</string>
	<key>GCM_SENDER_ID</key>
	<string>485804141750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabina.wabayetu.wabayetu</string>
	<key>PROJECT_ID</key>
	<string>shamba-fresh</string>
	<key>STORAGE_BUCKET</key>
	<string>shamba-fresh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485804141750:ios:42bd2bf5a95f345a690a17</string>
</dict>
</plist>